<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>List of ART.Kits</ion-title>
  </ion-toolbar>
</ion-header>


<!-- Searchbar with cancel button shown on focus -->
<ion-searchbar showCancelButton="focus"></ion-searchbar>


<ion-content slot="start">
  <ion-item *ngFor="let categories of category">
    <ion-item>
      <ion-img style="width: 180px; height: 180px; display: inline-block; margin: 25px 10px;" [src]="categories.imageUrl"></ion-img>
    </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> {{categories.title}} </ion-card-subtitle>
      <ion-card-title color="success">{{ categories.status}}</ion-card-title>
      <ion-button [routerLink]="['./',categories.id]"> View Details</ion-button>
    </ion-card-header>
  </ion-card>
  </ion-item>
</ion-content>