<ion-content class="ion-text-center">
  <ion-card>
    <img src="./assets/logo.png">
    <ion-card-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title>WELCOME TO ART.BN</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button href="/welcome/aboutus" expand="block" colo="primary">GET STARTED</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
    <ion-router-link color="dark" href="#">Sign In</ion-router-link>
  </ion-card>
</ion-content>
