<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome"></ion-back-button>
      <!-- TERMS AND CONDITIONS -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">TERMS AND CONDITIONS</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      We are not responsible if information made available on this site is not accurate, complete, or current. the material on this site is provided for general information only and will not be relied upon or used because the single basis for creating decisions without consulting primary, more accurate, more complete, or more timely sources of information. Any support on the material on this site is at your own risk.
      This site may contain certain past information. Past information, automatically, is not current and is provided for your reference only. We reserve the right to  to modify the contents of this site at any time, but we have no obligation to update any information on our site. You agree that it is your responsibility to monitor changes to our site. 
    </ion-card-content>
  </ion-card>
</ion-content>
