<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="cart">
      <ion-icon name="cart-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

