<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/category"></ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedCategories.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
<ion-card>
  <ion-img style="width: 180px; height: 180px; display: inline-block; margin: 25px 10px;" [src]="loadedCategories.imageUrl"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>{{loadedCategories.description}}</ion-card-subtitle>
    <ion-text> 
      <h6>{{loadedCategories.Specification}}</h6> 
    </ion-text>
    <ion-card-content> ${{loadedCategories.price}}.00 </ion-card-content>
  </ion-card-header>
  <ion-button href="/cart" color="primary" class="ion-text-center">Purchase</ion-button>
</ion-card>
</ion-content>