<ion-content class="ion-text-center">
  <ion-card>
    <img src="./assets/logo.png">
    <ion-card-content>
      <ion-text color="dark">
        <h4>
          ART.BN was founded based on the strong belief to bring ART KITs that has been approved by Ministry of Health of Brunei.
        </h4>
        <h4>
          Our objective as a company is to enable people to buy ART Kit online and to make their lives convenient.
        </h4>
        <h4>
          We are committed to providing our customers with the availability products, impeccable customer service as well as investing our earning in the local economy and environment.
        </h4>
      </ion-text>
      <ion-grid>
        <ion-row>
          <ion-col>Create an Account <ion-router-link href="#">Sign Up</ion-router-link></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Existing User? <ion-router-link href="#">Sign In</ion-router-link>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
